.mb-card {
    border:1px solid #ddd;
    padding:12px;
    margin-bottom:10px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.mb-card:hover {
    background:#f5f5f5;
}

.mb-top {
    display:flex;
    justify-content:space-between;
    margin-bottom:6px;
}

.mb-tag {
    border:1px solid #333;
    padding:2px 6px;
    font-size:12px;
}

.mb-breaking {
    display:flex;
    color:#ad0000;
    border:1px  solid #053C47;
    border-radius:6px;
    align-items: center;
}

.mb-breaking strong{
    display:flex;
    background:#053C47;
    color:#fff;
    padding:5px 12px;
    border:1px  solid #053C47;
    border-radius:5px 0 0 5px;
}

.mb-breaking a {
    color:#053C47;
    margin-right:20px;
    text-decoration:none;
    padding-left:5px;
}